.App {
  text-align: center;
}

.Board-Block {
  margin: 1px;
}

.Buttons {
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
}

.btn-red {
  color: white;
  font-weight: bolder;
  background-color: red;
}

.btn-yellow {
  color: black;
  font-weight: bolder;
  background-color: yellow;
}

.btn-green {
  color: white;
  font-weight: bolder;
  background-color: green;
}

.btn-blue {
  color: white;
  font-weight: bolder;
  background-color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.Cell {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  border-width: 0px;
  margin-top: 1px;
  margin-left: 1px;
  padding: 1px;
}

.Cell-Mini {
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
}

.options-cell {
  margin: auto;
  font-weight: bolder;
}

.options-container {
  background-color: white;
  color: black;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

.Options-Dialog-Button {
  width: 30px;
  height: 30px;
  color: white;  
  background-color: #34981b;
}

.Options-Dialog-Button-Pressed {
  background-color: #3498db;
}